*{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.icon {
    font-size: 35px;
    color: blue;
}